{% comment %}
<!--
Obtain time and tags that are associated with current page/post.
-->
{% endcomment %}

{% if post %}
  {% assign date = post.date %}
  {% assign categories = post.categories %}
  {% assign tags = post.tags %}
{% else %}
  {% assign date = page.date %}
  {% assign categories = post.categories %}
  {% assign tags = page.tags %}
{% endif %}

<span class="post-meta">
  <time
    datetime="{{ date | date_to_xmlschema }}"
    class="post-date">
    {{ date | date_to_string }}
  </time>

  {% comment %}
  <!--
  Display all the tag names that link to a corresponding section of the Tags page.
  -->
  {% endcomment %}
  <div
    class="post-categories">
    {% for tag in categories %}
      <a href="{{ site.baseurl }}/categories#{{ category | slugize }}">
        {{ category }}
      </a>
    {% endfor %}
  </div>
  <div
    class="post-tags">
    {% for tag in tags %}
      <a href="{{ site.baseurl }}/tags#{{ tag | slugize }}">
        {{ tag }}
      </a>
    {% endfor %}
  </div>
</span>
